@use './fonts.scss';
@use './components/header';
@use './components/home';
@use './components/faq';
@use './components/contacts';
@use './components/auth';
@use './components/forgotpass';
@use './components/calculator';
@use './components/reviews';
@use './components/plans';
@use './components/account';
@use './components/footer';

.g-bg {
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

.after-gradient {
    position: relative;

    &::after {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transition: 0.5s;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: "";

    }
}
.rounded-500{
    border-radius: 500px;
}
.bg-custom-gradient {
    background: linear-gradient(90.00deg, rgb(200, 0, 255), rgb(15, 78, 202) 100%);
}

.gradient-color {
    background: linear-gradient(to right, rgb(200, 0, 255), rgb(15, 78, 202));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* styles for Header */
header {
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

* {
    font-family: 'Roboto'
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.btn-universal {
    max-width: 400px;
    width: 100%;
    height: 60px;
    position: relative;

    &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        content: "";
        border-radius: 76.5px;
        filter: blur(50px);
        background: linear-gradient(90.00deg, rgba(200, 0, 255, 0.3), rgba(15, 78, 202, 0.3) 100%);
        transition: 0.3s;
    }

    &:hover {
        
        &::after {
            filter: blur(10px);
<<<<<<< HEAD
        }
        
        & button {
            transition: 0.3s;
            background: linear-gradient(90.00deg, rgb(200, 0, 255), rgb(15, 78, 202) 100%);
            color: #ffffff !important;
=======

        }

        & button {
            color: white;
>>>>>>> 3e2c4e58720f922eeeb186a5d1e90828f6dc59fc

        }
    }

    &-btn {
        width: 100%;
        height: 100%;
        border-radius: 76.5px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 76.5px;
        background: rgba(255, 255, 255, 0.3);

        color: rgb(33, 33, 33);
        font-size: 22px;
        letter-spacing: 0%;
    }
}

.react-datepicker-wrapper {
    width: 100%;
}

.page-title {
    margin: auto;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    position: relative;
}

@mixin linear-gradient-bg($start-color, $end-color) {
    background: linear-gradient(90deg, $start-color, $end-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}