.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    border-radius: 0 0 90px 90px;
    box-shadow:
        0 5px 25px -10px rgba(200, 0, 255, 0.3),
        5px 0 25px -10px rgba(15, 78, 202, 0.3),
        -5px 0 25px -10px rgba(15, 78, 202, 0.3);
}

.header-logo {
    font-size: 42px;
    background: linear-gradient(to right, rgb(200, 0, 255), rgb(15, 78, 202));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
}

.header-btn {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;

    &:hover {
        color: rgba(255, 255, 255, 0.85);
        /* Soft hover effect */
    }
}

.navbar {
    border-radius: 90px;
}

.navbar-end {
    & a {
        width: 100%;
        line-height: 28px;
        font-size: 23.04px;
        text-align: center;
    }
}

.navbar-end-auth {
    position: relative;
    /* Positioning for the pseudo-element */
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-end-auth::before {
    width: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    border-radius: 26.88px;
    background: linear-gradient(90deg, rgb(200, 0, 255) 0%, rgb(15, 77, 202) 100%);
    /* More vibrant colors */
    filter: blur(15px);
    z-index: 1;
}

.navbar-end-auth-circle {
    position: relative;
    width: 130px;
    height: 100%;
    border-radius: 26.88px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn {
    position: relative;
    z-index: 3;
    color: white;
    font-weight: bold;
}

.navbar-radius {
    border-radius: 50px;
}