.reviews-api-key {
    color: #575757 !important;
}
.btn-universal-manual-responses{
    width: 512px !important;
    max-width: none !important;
}
.max-w-400{
    width: 100%;
    max-width: 400px !important;
};
